{#Loads all required external files#}
{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    {#    Shopping bag header#}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row top-margin">
            <div class="col">
                <h2 class="logo-font mb-4 display-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        {#        Shopping bag#}
        <div class="row bag-text">
            <div class="col-4">
                <p>Product Info</p>
            </div>
            <div class="col-3">
                <p>Price</p>
            </div>
            <div class="col-2">
                <p>Qty</p>
            </div>
            <div class="co-3">
                <p>Subtotal</p>
            </div>
        </div>

{#        Product details#}
        {% for item in bag_items %}
            <div class="row">
                <div class="col-2">
                    <img class="img-fluid mt-5" src="{{ item.product.image.url }}">
                </div>
                <div class="col-2">
                    <p class="txt-orange mt-5"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}Magic Fit{% endif %}</p>
                    {% if item.product.rating %}
                        <small class="text-muted"><i class="fas fa-star"></i>{{ item.product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                </div>
            </div>
        {% endfor %}

{% endblock %}