{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pri-1 h-100">
        <div class="row h-100">
            <div class="my-auto text-center">
                <div class="callout-wrapper">
                    <h1 class="display-3 txt-white callout-font text-black">New Autumn Collection Available</h1>
                </div>

                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-warning font-weight-bold rounded-0 text-uppercase py-2">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}