/************ CSS Reset ************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


/*Global Styling rules*/
html {
    height: 100%;
}

body {
    background: url("/media/homepage5.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555555;
    font-family: 'Roboto', sans-serif;
}

.top-margin {
    padding-top: 9em;
}

/*background colors*/
.bg-black {
    background-color: #000000 !important;
}

.no-pad {
    padding: 0 !important;
}

/*text colors */
.txt-white {
    color: #ffffff !important;
}
.txt-yellow {
    color: #ffff00;
}

.txt-black {
    color: #000000 !important;
}

.txt-orange {
    color: #fa5400 !important;
}
/*Navigation Bar + callout*/
.navbar-brand {
    font-size: 2em;
}

li a {
    font-size: 1.2em;
}

.callout-style {
    font-size: 1em;
    margin: 0.5em 0 0.5em;

}

/*Index page*/
.callout-font {
    font-weight: 400;
}

.callout-wrapper {
    /*border: solid 5px;*/
    /*border-radius: 10px;*/
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #ffffff;
    margin: 0 0 2em 0;
    background-color: rgba(00, 00, 00, .5);
}

.shop-now-button {
    font-size: 1.3em;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ffffff;
    z-index: -1;
}

/*Product Page*/
/*TODO Move this into global style*/

.card-image-style {
    padding: 0 0.1em 0 0.1em;
}

.card-image-style:hover {
    /*background: #000000;*/
    border: 1px solid #000000;
}

/*Product Details Page*/
.product-name-s {
    font-size: 1.3em;
}

/*Media Queries*/
@media (max-width: 1024px) {
    .display-3 {
        font-size: 4.5em !important;
    }

}

@media (max-width: 991px) {
    .display-3 {
        font-size: 3.5em !important;
    }

}

@media (max-width: 767px) {
    .display-3 {
        font-size: 3em !important;
    }

}


@media (max-width: 575px) {
    .display-3 {
        font-size: 2.5em !important;
    }
    .my-auto {
        margin-top: 50% !important;
    }

}

@media (max-width: 360px) {
    .display-3 {
        font-size: 2.5em !important;
    }
    .shop-now-button {
        font-size: 1em !important;
    }
    .my-auto {
        margin-top: 50% !important;
    }
    .btn-outline-success {
        text-align: center !important;
    }

}
