{# Loads the static folder#}
{% load static %}
{#Code Mostly from Code Insitute#}
<!doctype html>
<html lang="en">
<head>
{#    Each block tag imports meta, css, and js#}
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=ed">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

{#    Imports all the required CSS files just like a normal site#}
    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    {% endblock %}

{#    Imports all the js files required for bootstrap#}
    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
    {% endblock %}


    <title>Threads {% block extra_title %} {% endblock %}</title>
</head>
<body>
{#Navigatio bar partically from Code Insitute Tutorial #}
<header class="container-fluid no-pad fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
{#        This makes the brand name a home link#}
        <a class="navbar-brand" href="{% url 'home' %}">THREADS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

{#    This will call the url 'products' when clicking the search button initiating the query based on the search words#}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form method="GET" action="{% url 'products' %}" class="form-inline ml-auto">
                <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
{#                    Provides a dropdown menu with the option to logout/signup or login#}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
{#                Allow for direct access to view the shopping bag contents#}
                <li class="nav-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                       href="{% url 'view_bag' %}">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{#TODO Check this#}
<div class="container-fluid">
    <div class="row text-center bg-white">
        <div class="col-12">

        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row text-center bg-black">
            <div class="col-12">
                <p class="txt-yellow callout-style ">Free Delivery on orders over ${{ free_delivery_threshold }}</p>
            </div>
        </div>
    </div>
</header>

{#TODO Possibly remove this#}
{% if messages %}
    <div class="message-container"></div>
{% endif %}

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block postloadjs %}
{% endblock %}

</body>
</html>